In [1]:
from sqlalchemy import create_engine
import pymssql
import pandas as pd

## CONNECT TO THE GHZ DATABASE

In [2]:
server = "mssql-82792-0.cloudclusters.net:16272"
username = "user"
password = "RiceOwls1912" 
database = "ghz"
string = "mssql+pymssql://" + username + ":" + password + "@" + server + "/" + database

conn = create_engine(string).connect()

## GET DATA

In [3]:
df = pd.read_sql(
    """
    select date, ticker, bm, roeq, ret
    from data
    order by date, ticker
    """,
    conn
  )
df = df.dropna()
df = df.set_index(["date", "ticker"])

In [4]:
df

                      bm      roeq       ret
date    ticker
2000-01 AA      0.438760  0.039969 -0.160392
        AAABB   0.850622  0.001384 -0.073529
        AABC    1.107577  0.054207 -0.029528
        AAC     1.893766  0.053986  0.056338
        AACE    0.339860  0.049065 -0.067568
...                  ...       ...       ...
2022-03 ZTS     0.047912  0.126897 -0.026130
        ZUMZ    0.501082  0.041249 -0.141155
        ZVO     0.387177 -0.110788 -0.261171
        ZWS     0.304234  0.010288  0.088561
        ZYNE    0.608022 -0.120663 -0.092920

[1018855 rows x 3 columns]